// SCOTTSHEALY - GITHUB LANDING PAGE
// COLORS REFERENCE GUIDE

// RESUME BLUE COLLECTION
$resume-blue-0: #ffffff;
$resume-blue-1: #eaf2fc;
$resume-blue-2: #d6e5f9;
$resume-blue-3: #c1d9f6;
$resume-blue-4: #acccf3;
$resume-blue-5: #97bff1;
$resume-blue-6: #83b2ee;
$resume-blue-7: #6ea5eb;
$resume-blue-8: #5999e8;
$resume-blue-9: #458ce5;
$resume-blue-10: #307fe2;
$resume-blue-11: #2b72cb;
$resume-blue-12: #2666b6;
$resume-blue-13: #22599e;
$resume-blue-14: #1d4c88;
$resume-blue-15: #184071;
$resume-blue-16: #13335a;
$resume-blue-17: #0e2644;
$resume-blue-18: #0a192d;
$resume-blue-19: #050d17;
$resume-blue-20: #000000;

// RESUME ORANGE COLLECTION
$resume-orange-0: #ffffff;
$resume-orange-1: #fbefe8;
$resume-orange-2: #f7dfd1;
$resume-orange-3: #f3cfba;
$resume-orange-4: #efbfa3;
$resume-orange-5: #ebaf8b;
$resume-orange-6: #e8a074;
$resume-orange-7: #e4905d;
$resume-orange-8: #e08046;
$resume-orange-9: #dc702f;
$resume-orange-10: #d86018;
$resume-orange-11: #c25616;
$resume-orange-12: #ad4d13;
$resume-orange-13: #974311;
$resume-orange-14: #823a0e;
$resume-orange-15: #6c300c;
$resume-orange-16: #56260a;
$resume-orange-17: #411d07;
$resume-orange-18: #2b1305;
$resume-orange-19: #160a02;
$resume-orange-20: #000000;

// RESUME BLEND COLLECTION
$resume-blend-0: #307fe2;
$resume-blend-1: #387dd8;
$resume-blend-2: #417cce;
$resume-blend-3: #497ac4;
$resume-blend-4: #5279ba;
$resume-blend-5: #5a77af;
$resume-blend-6: #6276a5;
$resume-blend-7: #6b749b;
$resume-blend-8: #737391;
$resume-blend-9: #7c7187;
$resume-blend-10: #84707d;
$resume-blend-11: #8c6e73;
$resume-blend-12: #956c69;
$resume-blend-13: #9d6b5f;
$resume-blend-14: #a66955;
$resume-blend-15: #ae684a;
$resume-blend-16: #b66640;
$resume-blend-17: #bf6536;
$resume-blend-18: #c7632c;
$resume-blend-19: #d06222;
$resume-blend-20: #d86018;

// RESUME TEAL COLLECTION
$resume-teal-0: #ffffff;
$resume-teal-1: #e6efef;
$resume-teal-2: #cedfdf;
$resume-teal-3: #b5cfcf;
$resume-teal-4: #9cbfbf;
$resume-teal-5: #83afaf;
$resume-teal-6: #6ba09f;
$resume-teal-7: #52908f;
$resume-teal-8: #39807f;
$resume-teal-9: #21706f;
$resume-teal-10: #08605f;
$resume-teal-11: #075656;
$resume-teal-12: #064d4c;
$resume-teal-13: #064343;
$resume-teal-14: #053a39;
$resume-teal-15: #043030;
$resume-teal-16: #032626;
$resume-teal-17: #021d1c;
$resume-teal-18: #021313;
$resume-teal-19: #010a09;
$resume-teal-20: #000000;

// RESUME SLATE COLLECTION
$resume-slate-0: #ffffff;
$resume-slate-1: #eaeced;
$resume-slate-2: #d6d8dc;
$resume-slate-3: #c1c5ca;
$resume-slate-4: #adb2b9;
$resume-slate-5: #989ea7;
$resume-slate-6: #838b96;
$resume-slate-7: #6f7884;
$resume-slate-8: #5a6573;
$resume-slate-9: #465161;
$resume-slate-10: #313e50;
$resume-slate-11: #2c3848;
$resume-slate-12: #273240;
$resume-slate-13: #222b38;
$resume-slate-14: #1d2530;
$resume-slate-15: #191f28;
$resume-slate-16: #141920;
$resume-slate-17: #0f1318;
$resume-slate-18: #0a0c10;
$resume-slate-19: #050608;
$resume-slate-20: #000000;

// RESUME BROWN COLLECTION
$resume-brown-0: #ffffff;
$resume-brown-1: #eceae9;
$resume-brown-2: #d9d6d2;
$resume-brown-3: #c6c1bc;
$resume-brown-4: #b3aca5;
$resume-brown-5: #9f978f;
$resume-brown-6: #8c8379;
$resume-brown-7: #796e62;
$resume-brown-8: #66594c;
$resume-brown-9: #534535;
$resume-brown-10: #40301f;
$resume-brown-11: #4a2b1c;
$resume-brown-12: #332619;
$resume-brown-13: #2d2216;
$resume-brown-14: #261d13;
$resume-brown-15: #201810;
$resume-brown-16: #1a130c;
$resume-brown-17: #130e09;
$resume-brown-18: #0d0a06;
$resume-brown-19: #060503;
$resume-brown-20: #000000;

// GRAYSCALE COLLECTION
$grayscale-0: #ffffff;
$grayscale-1: #f2f2f2;
$grayscale-2: #e5e5e5;
$grayscale-3: #d9d8d9;
$grayscale-4: #cccccc;
$grayscale-5: #bfbfbf;
$grayscale-6: #b2b2b2;
$grayscale-7: #a6a6a6;
$grayscale-8: #999999;
$grayscale-9: #8c8c8c;
$grayscale-10: #807f80;
$grayscale-11: #737373;
$grayscale-12: #666666;
$grayscale-13: #595959;
$grayscale-14: #4d4c4d;
$grayscale-15: #404040;
$grayscale-16: #333333;
$grayscale-17: #262626;
$grayscale-18: #191919;
$grayscale-19: #0d0d0d;
$grayscale-20: #000000;

// BLACK COLLECTION
$rgb-black: #000000;
$rich-black: #231f20;
$neutral-rich-black: #000104;
$pantone-black: #2e2a25;
$cool-black: #001423;
$warm-black: #220000;
$golden-black: #1e1b00;